#navbarSupportedContent{
  display: flex;
  justify-content: space-between;
}
body{
  background-color: #e5e5e5;
}
.container{
  display: flex;
  max-width: 88%;     
  margin-top: 3%;
  margin-left: 6%;
  margin-right: 6%;
  background-color: #ffffff;
}
div {
    column-gap: 6px;
  }
  div.row.big{
    row-gap: 40px;
  }
.book_content{
  background: #e7e5e5ab;
  row-gap: 1px;
}
div.col-md-4.delete,div.col-md-4.goto{
  text-align: right;
}
.row_1{
  display: flex;
}
.book_content{
  margin-left: 3%;
}